mixin cell(ev) 
    li(id=ev.ID).calCourse 
        div.calTitle
            a(title=ev.ID)=ev.acronym 
            a(href="/delete?id="+ev.ID)
                i(style="float:right; padding-left: 6px").fa.fa-trash
            
            a(href="/modify?id="+ev.ID)
                i(style="float:right; padding-left: 6px").fa.fa-pencil

            - if (ev.ID[0] == 'C')
                a(href="/sessions?id="+ev.ID)
                    i(style="float:right").fa.fa-calendar

        ul.calContent
            li 
                b=ev.hours
            li=ev.apogee
            li!=ev.lecturer
            li
                b='Grp: '+ev.group
            -var campus = ev.location.match(/(.+)::/)[1];
            -var building = ev.location.match(/::(.+)@/)[1];
            -var room = ev.location.match(/@(.+)/)[1];
            li
                b Loc: 
                = campus
            li
                b Bldg: 
                = building
            li
                b Room:
                = room
            each warn in ev.warnings
                li 
                    i.fa.fa-exclamation-triangle(style="color: #f00")!=warn



extends layout

block content

    div.splash
        div.container
            h1 Calendar Management
            h2 Overview
            hr

    div.container
        br
        br
                
        div.row
            div.col-md-1
                span(style="font-size: 20px")= 'Week'
            div.col-md-1
                a.btn.btn-default(href="/previousweek")
                    i.fa.fa-backward.fa-lg

            div.col-md-1
                form(action="/gotoweek", method="POST")
                    input.form-control.col-md-2(type="text", name="week",value=weeknum,onchange="this.form.submit();")
            div.col-md-1
                a.btn.btn-default(href="/nextweek")
                    i.fa.fa-forward.fa-lg
            div.col-md-4
                a.btn.btn-default.btn-md(role="button",href="/calendar?year=0",style="margin-right: 10px") All
                a.btn.btn-default.btn-md(role="button",href="/calendar?year=1",style="margin-right: 10px") M1
                a.btn.btn-default.btn-md(role="button",href="/calendar?year=2",style="margin-right: 10px") M2
                a.btn.btn-default.btn-md(role="button",href="/calendar?year=3",style="margin-right: 10px") M1 and M2
        br
        br
        div.row.no-gutter
            div.col-md-3 
                p.text-center= days[0].day
                    sub=days[0].date+days[0].month
                ul(style="padding-left:5px;")
                    each event in events[1]
                        if (event.acronym.substr(0,3) === 'S07' || event.acronym.substr(0,3) === 'S08') && masterYearFilter === 1  
                            +cell(event)
                        else if (event.acronym.substr(0,3) === 'S09' || event.acronym.substr(0,3) === 'S10') && masterYearFilter === 2 
                            +cell(event)
                        else
                            +cell(event)

                    li(id="new").calCourse 
                        div.calTitle
                            a New Course/Event
                        ul.calContent
                            // div.alert.alert-info(role="alert") 
                            //    button.close( type="button", data-dismiss="alert", aria-label="Close")
                            //        span(aria-hidden="true")&times;
                            //    !No Event/Course chosen!!
                            br

                            form(action="/calendar", method="POST")
                                li
                                    select.form-control#sem(style="width:80%; margin-bottom: 10px",name="sem", onchange="addSemesterCourse()")
                                        each sem, i in settings.semesters
                                            option(value=i+6) #{sem}
                                li
                                    select.form-control#S6(style="width:80%; margin-bottom: 10px",name="S6")
                                        each course, i in menus.s06
                                            option(value='#{course.apogee}' ) #{course.name}
                                    select.form-control#S7(style="width:80%; margin-bottom: 10px",name="S7")
                                        each course, i in menus.s07
                                            option(value='#{course.apogee}' ) #{course.name}
                                    select.form-control#S8(style="width:80%; margin-bottom: 10px",name="S8")
                                        each course, i in menus.s08
                                            option(value='#{course.apogee}' ) #{course.name}
                                    select.form-control#S9(style="width:80%; margin-bottom: 10px",name="S9")
                                        each course, i in menus.s09
                                            option(value='#{course.apogee}') #{course.name}
                                    select.form-control#S10(style="width:80%; margin-bottom: 10px",name="S10")
                                        each course, i in menus.s10
                                            option(value='#{course.apogee}' ) #{course.name}
                                    select.form-control#S11(style="width:80%; margin-bottom: 10px",name="S11")
                                        each course, i in menus.s11
                                            option(value='#{course.apogee}' ) #{course.name}
                                br
                                li
                                    span.pull-right(style="margin-right: 10px")
                                        input.btn.btn-default(type="submit", value="Submit") 

                        br
                        br



            div.col-md-2  
                p.text-center= days[1].day
                    sub=days[1].date+days[1].month
                ul(style="padding-left:5px;")
                    each event in events[2]
                        +cell(event)

            div.col-md-2  
                p.text-center= days[2].day
                    sub=days[2].date+days[2].month
                ul(style="padding-left:5px;")
                    each event in events[3]
                        +cell(event)

            div.col-md-2  
                p.text-center= days[3].day
                    sub=days[3].date+days[3].month
                ul(style="padding-left:5px;")
                    each event in events[4]
                        +cell(event)

            div.col-md-2  
                p.text-center= days[4].day
                    sub=days[4].date+days[4].month
                ul(style="padding-left:5px;")
                    each event in events[5]
                        +cell(event)
            br
            br



    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    // Include all compiled plugins (below), or include individual files as needed
    script(src="/javascripts/bootstrap.min.js")
        
            
