mixin select-option(val, name)
    if (val === name)
        option(value=name, selected="selected")!= name
    else
        option(value=name)!= name

mixin session(title,num)
    div.col-md-11 
        br
        h3(style="padding: 5px;color: #fff;background-color:#000")= title
        div.col-md-1
            label Type
        div.col-md-3
            div.form-group
                select.form-control#type(name='type'+ num)
                    each typ, i in settings.types
                        +select-option(event.sessions[num].type, typ)
        div.col-md-1
            label.control-label Lecturer
        div.col-md-6
            div.form-group
                select.form-control#lecturer(name="lecturer"+ num )
                    optgroup
                        each one, i in settings.people
                            +select-option(event.sessions[num].lecturer, one)
                    optgroup
                        option(value="Multimedia") Multimedia

    div.col-md-11
        br
        div.col-md-1
            label Group
        div.col-md-3
            div.form-group
                select.form-control#students(name="group"+ num )
                    each group, i in settings.students
                        +select-option(event.sessions[num].group, group)
            
    div.col-md-11 
        br
        div.col-md-1
            label Date
        div.col-md-3
            input.form-control.datepickr(name="date" + num,placeholder="yyyy-mm-dd",value=event.sessions[num].date)
        div.col-md-1
            label From 
        div.col-md-2
                select.form-control#starthh(name="starthh"+ num )
                    each hour, i in settings.hours
                        +select-option(event.sessions[num].starthh, hour)
                label :
                select.form-control#startmm(name="startmm"+ num )
                    each mins, i in settings.minutes
                        +select-option(event.sessions[num].startmm, mins)
        div.col-md-1
                label To 
        div.col-md-2
                select.form-control#endhh(name="endhh"+ num )
                    each hour, i in settings.hours
                        +select-option(event.sessions[num].endhh, hour)
                label :
                select.form-control#endmm(name="endmm"+ num )
                    each mins, i in settings.minutes
                        +select-option(event.sessions[num].endmm, mins)

    div.col-md-11
        br
        div.col-md-1 
            label Location
        div.col-md-3.form-group
                select.form-control.contents#location(name="location"+ num )
                    each loc, i in settings.locations
                        +select-option(event.sessions[num].location, loc)
        div.col-md-1 
               label(title="Room or Amphi") Room
        div.col-md-2 
                input.form-control#room(name="room"+ num, value=event.sessions[num].room,placeholder="000" )


extends layout

block content

        div.splash
            div.container
                h1 Calendar Management
                h2 Create Course: !{event.apogee} &mdash; !{event.acronym}
                hr

        div.container
            br
            br

            form.form-inline(action="/course", method="POST")
                input(type="hidden", name="apogee", value= event.apogee )
                input(type="hidden", name="acronym", value= event.acronym )
                input(type="hidden", name="session", value= event.session )
                - for (var i = 0; i < event.session ; i++) {
                    -var session = "Session "+ i
                    div
                        +session(session,i)
                        -var attributes=({'onclick':'addEntryCourse('+i+')'})
                - }
                br
                br
                div.col-md-8
                    br
                    span(style="margin: 0px 3px 0px 3px")
                        a.btn.btn-default(href="/calendar") Cancel
                    span(style="margin: 0px 3px 0px 3px")
                        input.form-control.btn.btn-default(type="submit", name ="action", value="Add Session") 
                    span(style="margin: 0px 3px 0px 3px")
                        input.btn.btn-default(type="submit", name="action", value="Create")

        br
        br
        br
        br
        // Datepickr from https://github.com/joshsalverda/datepickr
        script(src="/javascripts/datepickr.min.js")
        script(type='text/javascript').
            // Overwrite the global datepickr prototype
            // Won't affect previously created datepickrs, but will affect any new ones
            datepickr.init.prototype.l10n.months.longhand = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
            datepickr.init.prototype.l10n.weekdays.shorthand = ['dim', 'lun', 'mar', 'mer', 'jeu', 'ven', 'sam'];

            // Custom date format
            datepickr('.datepickr',{ dateFormat: 'Y-m-d'});


