mixin select-option(val, name)
    if (val === name)
        option(value=name, selected="selected")!= name
    else
        option(value=name)!= name

mixin session(title,num)


extends layout

block content

        div.splash
            div.container
                h1 Calendar Management
                h2 Modify Course: !{event.apogee} &mdash; !{event.acronym}
                hr

        div.container
            br
            br

            form.form-inline(action="/modify", method="POST")
                input(type="hidden", name="ID", value= event.ID )
                input(type="hidden", name="apogee", value= event.apogee )
                input(type="hidden", name="acronym", value= event.acronym )
                input(type="hidden", name="session", value= event.session )
                div.col-md-11 
                    br
                    div.col-md-1
                        label Type
                    div.col-md-3
                        div.form-group
                            select.form-control#type(name='type')
                                each typ, i in settings.types
                                    +select-option(event.type, typ)
                    div.col-md-1
                        label.control-label Lecturer
                    div.col-md-6
                        div.form-group
                            select.form-control#lecturer(name="lecturer" )
                                optgroup
                                    each one, i in settings.people
                                        +select-option(event.lecturer, one)
                                optgroup
                                    option(value="Multimedia") Multimedia

                div.col-md-11
                    br
                    div.col-md-1
                        label Group
                    div.col-md-3
                        div.form-group
                            select.form-control#students(name="group" )
                                each group, i in settings.students
                                    +select-option(event.students, group)
                        
                div.col-md-11
                    - var mydate = event.date_start.substr(0,10);
                    - var start_hour = event.date_start.substr(11,2);
                    - var start_mins = event.date_start.substr(14,2);
                    - var end_hour   = event.date_end.substr(11,2);
                    - var end_mins   = event.date_end.substr(14,2);
             
                    br
                    div.col-md-1
                        label Date
                    div.col-md-3
                        input.form-control.datepickr(name="date" ,placeholder="yyyy-mm-dd",value=mydate)
                    div.col-md-1
                        label From 
                    div.col-md-2
                            select.form-control#starthh(name="starthh" )
                                each hour, i in settings.hours
                                    +select-option(start_hour, hour)
                            label :
                            select.form-control#startmm(name="startmm" )
                                each mins, i in settings.minutes
                                    +select-option(start_mins, mins)
                    div.col-md-1
                            label To 
                    div.col-md-2
                            select.form-control#endhh(name="endhh" )
                                each hour, i in settings.hours
                                    +select-option(end_hour, hour)
                            label :
                            select.form-control#endmm(name="endmm" )
                                each mins, i in settings.minutes
                                    +select-option(end_mins, mins)

                div.col-md-11
                    - var tmp = event.location.match(/(.+)@/);
                    - var locationBuilding = tmp[1];
                    - tmp = event.location.match(/@(\w+)_/);
                    - var locationRoom = tmp[1];
                    - tmp = event.location.match(/_(\w+)/);
                    - var locationNumber = tmp[1];
                    br
                    div.col-md-1 
                        label Location
                    div.col-md-3.form-group
                            select.form-control.contents#location(name="location" )
                                each loc, i in settings.locations
                                    +select-option(locationBuilding, loc)
                    div.col-md-2
                        select.form-control.contents#roomamphi(name="roomamphi")
                            each classroom,i in ['Room','Amphi']
                                +select-option(locationRoom,classroom)
                    div.col-md-2 
                        input.form-control#number(name="number", value=locationNumber,placeholder="000" )
                br
                br
                div.col-md-8
                    br
                    span(style="margin: 0px 3px 0px 3px")
                        a.btn.btn-default(href="/calendar") Cancel
                    span(style="margin: 0px 3px 0px 3px")
                        input.btn.btn-default(type="submit", name="action", value="Modify")

        br
        br
        br
        br
        // Datepickr from https://github.com/joshsalverda/datepickr
        script(src="/javascripts/datepickr.min.js")
        script(type='text/javascript').
            // Overwrite the global datepickr prototype
            // Won't affect previously created datepickrs, but will affect any new ones
            datepickr.init.prototype.l10n.months.longhand = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
            datepickr.init.prototype.l10n.weekdays.shorthand = ['dim', 'lun', 'mar', 'mer', 'jeu', 'ven', 'sam'];

            // Custom date format
            datepickr('.datepickr',{ dateFormat: 'Y-m-d'});


