mixin select-option(val, name)
    if (val === name)
        option(value=name, selected="selected")= name
    else
        option(value=name)= name

mixin session(title,num)
    div.col-lg-12 

        h2= title
        div.col-lg-6
            div.form-group
                label.first Type
                select.form-control#type(name='type'+ num)
                    each typ, i in settings.types
                        +select-option(event.sessions[num].type, typ)
        div.col-lg-6
            div.form-group
                label.control-label Lecturer
                select.form-control#lecturer(name="lecturer"+ num )
                    optgroup
                        each one, i in settings.people
                            +select-option(event.sessions[num].lecturer, one)
                    optgroup
                        option(value="Multimedia") Multimedia
        div.col-lg-6
            div.form-group
                label.first Students
                select.form-control#students(name="students"+ num )
                    each group, i in settings.students
                        +select-option(event.sessions[num].students, group)
            
        div.col-lg-6

            div.form-group
                label.first Date
                input.form-control.datepickr(name="date" + num,placeholder="yyyy-mm-dd",value=event.sessions[num].date)

                div.form-group
                    label.first From 
                    select.contents#starthh(name="starthh"+ num )
                        each hour, i in settings.hours
                            +select-option(event.sessions[num].starthh, hour)
                    label :
                    select.contents#startmm(name="startmm"+ num )
                        each mins, i in settings.minutes
                            +select-option(event.sessions[num].startmm, mins)
                    label To 
                    select.contents#endhh(name="endhh"+ num )
                        each hour, i in settings.hours
                            +select-option(event.sessions[num].endhh, hour)
                    label :
                    select.contents#endmm(name="endmm"+ num )
                        each mins, i in settings.minutes
                            +select-option(event.sessions[num].endmm, mins)

            div.form-group
                label.first Location
                select.form-control.contents#location(name="location"+ num )
                    each loc, i in settings.locations
                        +select-option(event.sessions[num].location, loc)
               label.first Room/Amphi
                input.contents#room(name="room"+ num, value=event.sessions[num].room,placeholder="000" )


extends layout

block content

        div.splash
            div.container
                h1 Calendar Management
                h2 Create Course: !{event.apogee} &mdash; !{event.acronym}
                hr

        div.container
            br
            br

            form.form-inline(action="/course", method="POST")
                input(type="hidden", name="apogee", value= event.apogee )
                input(type="hidden", name="acronym", value= event.acronym )
                input(type="hidden", name="session", value= event.session )
                - for (var i = 0; i < event.session ; i++) {
                    -var session = "Session "+ i
                    div
                        +session(session,i)
                        -var attributes=({'onclick':'addEntryCourse('+i+')'})
                - }
                    
                input.btn.btn-default(type="submit", name ="action", value="Add Session") 
                input.btn.btn-default(type="submit", name="action", value="Create")

        br
        br
        br
        br
        // Datepickr from https://github.com/joshsalverda/datepickr
        script(src="/javascripts/datepickr.min.js")
        script(type='text/javascript').
            // Overwrite the global datepickr prototype
            // Won't affect previously created datepickrs, but will affect any new ones
            datepickr.init.prototype.l10n.months.longhand = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
            datepickr.init.prototype.l10n.weekdays.shorthand = ['dim', 'lun', 'mar', 'mer', 'jeu', 'ven', 'sam'];

            // Custom date format
            datepickr('.datepickr',{ dateFormat: 'Y-m-d'});


